.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lateral .logo {
    width: 100px;
    height: 100px;
    display: block;
}

.corpo .criar{
    width: 200;
    height: 50;
}